<table class="table table-light">
  <thead>
  <tr>
    <th scope="col">#</th>
    <th scope="col">Description</th>
    <th scope="col">Product Name</th>
    <th scope="col">Created At</th>
    <th scope="col" *ngIf="isAdmin">User</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let transaction of transactions">
    <th scope="row"><a routerLink="/transactions/{{ transaction.id }}">{{ transaction.id }}</a></th>
    <td>{{ transaction.description }}</td>
    <td><a routerLink="/products/{{ transaction.product.id }}">{{ transaction.product.name }}</a></td>
    <td>{{ transaction.createdAt }}</td>
    <td *ngIf="isAdmin"><a routerLink="/users/{{ transaction.user?.id }}">{{ transaction.user?.username }}</a></td>
  </tr>
  </tbody>
</table>
