**/.DS_Store
/SEProjects/PerceptronModeling/target/
/SEProjects/PerceptronModeling/.idea/
/SEProjects/FavwConverter/target/
/SEProjects/FavwConverter/.idea/
/SEProjects/PasswordsGenerator/target/
/SEProjects/PasswordsGenerator/.idea/
/SEProjects/Tetris_SE/target/
/SEProjects/Tetris_SE/.idea/
/SEProjects/counter/target/
/SEProjects/counter/.idea/
/SEProjects/ParserExpWithJUnit/target/
/SEProjects/ParserExpWithJUnit/.idea/
/SEProjects/PerceptronModeling/target/
/SEProjects/PerceptronModeling/.idea/
/SEProjects/WeblinksDownloader/target/
/SEProjects/WeblinksDownloader/.idea/

/EEProjects/DemoDAOSite/target/
/EEProjects/DemoDAOSite/.idea/
/EEProjects/DemoJPASite/target/
/EEProjects/DemoJPASite/.idea/
/EEProjects/DemoRestWebService/target/
/EEProjects/DemoRestWebService/.idea/
/EEProjects/DemoSOAPWebService/target/
/EEProjects/DemoSOAPWebService/.idea/

