<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.iakushev.oleksandr.englishwordsformemory" >

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LearnActivity"
            android:screenOrientation="portrait"
            android:label="@string/title_activity_learn" >
        </activity>
        <activity
            android:name=".ShowLearnedActivity"
            android:screenOrientation="portrait"
            android:label="@string/title_activity_show_learned" >
        </activity>
        <activity
            android:name=".ShowDictionaryActivity"
            android:screenOrientation="portrait"
            android:label="@string/title_activity_show_dictionary" >
        </activity>
    </application>

</manifest>
