  <div *ngIf="isAuthenticated" class="row p-3">
    <a class="btn btn-primary col-md-3" routerLink="/articles/new">New Article</a>
  </div>

  <div *ngIf="articles.length == 0" class="row p-3">
    <ngb-alert [dismissible]="false">
      No available articles.
    </ngb-alert>
  </div>

  <div *ngIf="articles.length > 0">
    <table class="table table-light">
      <thead>
      <tr>
        <th scope="col">Article</th>
        <th scope="col">Created At</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let article of articles">
        <td>
          <a routerLink="/articles/{{ article.id }}"><h3>{{ article.title }}</h3></a>
          <p>{{ article.content.substring(30) }}...</p>
        </td>
        <td>{{ article.createdAt | date:'medium' }}</td>
      </tr>
      </tbody>
    </table>
    
    <div>
      <div class="row">
          <div class="col-md-9" style="padding-left: 5%">
    
              <ngb-pagination [(page)]="pageNumber"
                              [pageSize]="pageSize"
                              [collectionSize]="totalElements"
                              [maxSize]="5"
                              [boundaryLinks]="true"
                              (pageChange)="listValues()">
    
              </ngb-pagination>
    
          </div>
    
          <div class="col-md-3 mt-2" style="text-align: right;">
              <span class="mr-2">Page Size </span>
    
              <select #pageSizeSelect (change)="updatePageSize(pageSizeSelect.value)">
                  <option>5</option>
                  <option selected="true">10</option>
                  <option>20</option>
                  <option>50</option>
              </select>
          </div>
    
      </div>
    </div>
  </div>
