<div class="auth-page">
  <div class="container page">
    <div class="row">

      <div class="col-md-6 offset-md-3 col-xs-12">
        <p class="p-2 error-text">{{ error }}</p>
        <form [formGroup]="loginForm" (ngSubmit)="submitForm()">
          <fieldset [disabled]="isSubmitting">
            <fieldset class="form-group p-2">
              <input
                formControlName="username"
                placeholder="Username"
                class="form-control form-control-md"
                type="text"/>
            </fieldset>
            <fieldset class="form-group p-2">
              <input
                formControlName="password"
                placeholder="Password"
                class="form-control form-control-md"
                type="password" />
            </fieldset>
            <div class="p-2">
              <button class="btn btn-md btn-primary p-2" [disabled]="!loginForm.valid" type="submit">
                Login
              </button>
            </div>
          </fieldset>
        </form>
      </div>

    </div>
  </div>
</div>
