<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" routerLink="/">UiShopApp</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul *ngIf="!isAuthenticated" class="navbar-nav ms-auto mb-2 mb-md-0">
          <li class="nav-item">
            <a class="nav-link" routerLink="/login" routerLinkActive="active">Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/signup" routerLinkActive="active">Sign Up</a>
          </li>
        </ul>
  
        <ul *ngIf="isAuthenticated" class="navbar-nav ms-auto mb-2 mb-md-0">
          <li class="nav-item">
            <span class="nav-link">Logined as {{ user?.name }}</span>
          </li>
          <li class="nav-item">
            <a class="nav-link" (click)="doLogout()" routerLink="/"> Log Out</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
