<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" routerLink="/">UiShopApp</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul *ngIf="auth.isAuthenticated$ | async" class="navbar-nav ms-auto mb-2 mb-md-0">
          <li *ngIf="auth.user$ | async as user" class="nav-item">
            <span class="nav-link">Logined as {{ user?.name }}</span>
          </li>
          <li class="nav-item">
            <a class="nav-link" (click)="auth.logout({ returnTo: document.location.origin })"> Log Out</a>
          </li>
        </ul>

        <ul *ngIf="!(auth.isAuthenticated$ | async)" class="navbar-nav ms-auto mb-2 mb-md-0">
          <li class="nav-item">
            <a class="nav-link" (click)="auth.loginWithRedirect()">Login</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
