#mainhead {
	text-align: justify;
	background: #d8e7f3; /* for old browsers */
	background: linear-gradient(to top, #6da8d5, #d8e7f3);
	border-radius: 7px;
	color: #6060F4;
	float: left;
	width: 100%;
	height: 80px;
}

#mainhead p {
	font-weight: bold;
	font-family: Trebuchet MS,Tahoma,Verdana,Arial,sans-serif;
	font-size: 25px;
	padding: 0 0 0 12px;
}

#mainobjs {
	width: 100%;
}

#leftobjs {
	padding: 5px 0 0 0;
	float: left;
	width: 20%;
}

#centerobjs {
	padding: 5px 0 0 0;
	float: left;
	width: 59%;
}

#rightobjs {
	padding: 5px 0 0 5px;
	float: left;
	width: 20%;
}

#sometext {
	font-size: 16px;
	text-align: justify;
	color: #004040;
	float: right;
	width: 100%;
}

#sometext table td {
	border: 2px solid blue;
}

#owlphoto {
	font-size: 20px;
	text-align: center;
	color: #006060;
	float: right;
	width: 100%;
}

#someselectmenu {
	width: 200px;
}

#somemenu {
	border-radius: 5px;
	font-size: 25px;
	width: 97%;
}

#somemenu li a {
	text-decoration: none;
}