<table class="table table-light">
  <tbody>
  <tr>
    <th scope="row">Name</th>
    <td>Standard</td>
  </tr>
  <tr>
    <th scope="row">Price</th>
    <td>100.00</td>
  </tr>
  <tr>
    <th scope="row">Created At</th>
    <td>01-01-2021 12:00</td>
  </tr>
  </tbody>
</table>
<form>
  <input type="hidden" name="productId" value="1">
  <p class="mb-3"><textarea type="text" name="description" placeholder="Description"></textarea></p>
  <p class="mb-3"><button type="button" class="btn-dark">Buy Product</button></p>
</form>
